/* 動畫 從左側滑入 */
@keyframes positionLeft {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
/* 內層樣式 */
.Modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 101%;
  transform: translate(-50%, -50%);
  padding: 30px 15px;
  outline: 0;
  text-align: center;
  animation: positionLeft 0.5s linear forwards;
}
